@import '../settings.scss';

.chat-wrapper {
	background: url('/images/myAquarium/achtergrond.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: calc(100vh - 80px); //Minus the height of the navBar
	overflow-y: scroll;
	.senderBox,
	.receiverBox {
		position: relative;
		background: $supportColor;
		margin-top: $defaultPadding;
		margin-bottom: $defaultPadding/2;
		padding: $defaultPadding;
	}
	.senderBox:after,
	.senderBox:before,
	.receiverBox:after,
	.receiverBox:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		top: 50%;
	}
	.senderBox:before,
	.receiverBox:before {
		border-width: $defaultPadding;
		margin-top: -$defaultPadding;
	}
	.senderBox:after, .senderBox:before {
		right: 100%;
	}
	.receiverBox:after, .recieverBox:before {
		left: 100%;
	}
	.senderBox:before {
		border-right-color: $supportColor;
	}
	.receiverBox:before {
		border-left-color: $supportColor;
	}
}
.sender-spacing {
	margin-left: -$defaultPadding;
}
.reciever-spacing {
	margin-right: -$defaultPadding;
}
.footer {
	background: $supportColor;
	#messageToSend {
		width: 100%;
	}
	.form-group {
		width: 80%;
	}
}
.fixed-wrapper {
	position: fixed;
  max-width: 25%;
	top:0;
	bottom:0;
	.inner-video-wrapper{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		display: table;
		.video-center {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			video {
				width: 100%;
			}
		}
	}
}
