@import '../settings.scss';

.chat-wrapper {
	background: url('/images/myAquarium/achtergrond.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: calc(100vh - 80px); //Minus the height of the navBar
	overflow-y: scroll;
	padding-bottom: 110px + $defaultPadding*2; //Height of the form area
	h3 {
		color: white;
	}
	.senderBox,
	.recieverBox {
		position: relative;
		background: $supportColor;
		margin-top: $defaultPadding;
		margin-bottom: $defaultPadding/2;
		padding: $defaultPadding;
	}
	.senderBox:after,
	.senderBox:before,
	.recieverBox:after,
	.recieverBox:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		top: 50%;
	}
	.senderBox:before,
	.recieverBox:before {
		border-width: $defaultPadding;
		margin-top: -$defaultPadding;
	}
	.senderBox:after, .senderBox:before {
		right: 100%;
	}
	.recieverBox:after, .recieverBox:before {
		left: 100%;
	}
	.senderBox:before {
		border-right-color: $supportColor;
	}
	.recieverBox:before {
		border-left-color: $supportColor;
	}
}
.sender-spacing {
	margin-left: -$defaultPadding;
}
.reciever-spacing {
	margin-right: -$defaultPadding;
}
.footer {
	background: $supportColor;
	#messageToSend {
		width: 100%;
		margin-bottom: $defaultPadding;
	}
	.form-group {
		width: 80%;
	}
}
.fixed-wrapper {
	position: fixed;
	max-width: 25%;
	top:0;
	bottom:0;
	@media screen and(max-width: $responsiveBreakPoint){
		max-width: 100%;
	}
	.inner-video-wrapper{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		display: table;
		.chat-btn {
			width: 100%;
			margin-bottom: $defaultPadding;
			color: $supportColor;
			background: $alternativeColor;
			outline:none;
			border: none;
		}
		.chat-btn:hover {
			cursor: pointer;
		}
		.video-center {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			padding-bottom: $defaultPadding*2;
			@media screen and(max-width: $responsiveBreakPoint){
				display: inherit;
				position: absolute;
    		bottom: 185px;
				left: 50px;
				vertical-align:inherit;
				padding-bottom: 0;
			}
			video {
				width: 100%;
				background-color: #ddd;
				border-radius: 7px;
				margin: 10px 0px 10px 0px;
				height: 140px;
				width: 320px;
				@media screen and(max-width: $responsiveBreakPoint){
					width: 100%;
					height: 100px;
				}
			}
		}
	}
}
.btn-admin {
	@media screen and(min-width: $responsiveBreakPoint){
		margin-top: -($defaultPadding*3);
	}
}
