@import "../settings.scss";

.centerBlock {
	text-align: center;
	display: block;
}

.analyse_wrapper {
	overflow: auto;
	h2, button, h3 {
		margin-left: ($defaultPadding*2) - ($defaultPadding/3);
	}
	h3 {
		margin-top: $defaultPadding*2;
	}
	.right_btn {
		margin-right: $defaultPadding*2;
		float: right;
	}
	.request_btn {
		margin-top: $defaultPadding;
	}
	.progress {
		background: transparent;
		padding: $defaultPadding;
		color: $supportColor;
		font-size: 16px;
		width: 25%;
		height: 100%;
		float: left;
		.progress-wrapper {
			overflow-y: scroll;
			height: 100vh;
			width: 100%;
		}
		h4 {
			margin: 0 0 $defaultPadding*2 -20px;
		}
		ul {
			li {
				&:last-of-type{
					margin-bottom: $defaultPadding;
				}
			}
		}
		div {
			display: block;
		}
	}
	.full {
		width: 75%;
		float: left;
		.question {
			text-align: center;
			//margin-bottom: $defaultPadding*3;
		}
		.checkbox_wrapper {
			margin-bottom: $defaultPadding*2;
			min-height: 80px;
			max-height: 100px;
			overflow: scroll;
		}
		.question_pictures {
			margin: 0 3%;
			span {
				margin: 0 auto;
				img {
					width: 33.3%;
					box-sizing: border-box;
					padding: $defaultPadding;
				}
			}
			overflow: auto;
		}
		.analyse_wrapper {
			.full-width {
				width: 95%;
			}
			form {
				overflow: auto;
			}
			ul {
				padding: 0;
				list-style: none;
				overflow: auto;
				    width: 94%;
						margin: 0 auto;
				li {
					float: left;
					width: 33.3%;
					text-align: center;
					font-size: 18px;
					margin-bottom: $defaultPadding*3;
					img {
						width: 100%;
						display: block;
						padding: $defaultPadding;
						//margin: 0 0 $defaultPadding auto;
					}
					span {
						display: block;
					}
				}
			}
		}
	}

	table, th, td {
	    border: 1px solid black;
	}
	&:after {
		clear: both;
	}
}
