// Dit kan grotendeels overgenomen worden van notifications, alleen ik weet niet hoe, dus als Mitch ff kijkt
@import '../settings.scss';


@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
		background: $supportColor;
	}
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
		background: $supportColor;
	}
}

.search-results {
	hr {
		border-color: white;
	}
	.result {
		$height: 182px;
		margin: 20px;
		.treatment-container {
			color: $alternativeTextColor;
			text-align: left;
			padding: 0 $defaultPadding $defaultPadding*2 $defaultPadding;
			h5 {
				margin-top: $defaultPadding;
			}
		}
		.dropdown-link-down,
		.dropdown-link-up {
			padding: $defaultPadding 19px;
			border-radius: $defaultPadding*2;
			color: $supportColor;
			background: $alternativeTextColor;
			display: table;
			margin: -25px auto 0 auto;
		}
		.no-bg {
			margin-top: -$defaultPadding - 2px;
		}
		.white-bg {
			animation-name: pullDown;
			-webkit-animation-name: pullDown;
			animation-duration: 1.1s;
			-webkit-animation-duration: 1.1s;
			animation-timing-function: ease-out;
			-webkit-animation-timing-function: ease-out;
			transform-origin: 50% 0%;
			-ms-transform-origin: 50% 0%;
			-webkit-transform-origin: 50% 0%;
			background: $supportColor;
			margin-top: -$defaultPadding - 2px;
			@media screen and(max-width: $responsiveBreakPoint){
				margin-top: auto;
			}
		}

		.header {
			font-size: 18px;
			background: $mainColor;
		}
		.image-container {
			background-color: $grey;
			min-height: $height;
			.image {
				position: absolute;
				min-height: $height;
				overflow: hidden;
				@media screen and(max-width: $responsiveBreakPoint){
					min-height: auto;
					position: relative;
				}
				img {
					max-width: 100%;
					@media screen and(max-width: $responsiveBreakPoint){
						max-width: auto;
						min-height: auto;
						min-width: 300px;
						max-height: auto;
					}
					max-height: $height;
					min-height: $height;
				}
				@media screen and(max-width: $responsiveBreakPoint){
					position: relative;
					height: auto;
					img {
						width: 100%;
						max-height: $height;
						min-height: $height;
					}
				}
			}
		}
		.info {
			min-height: $height;
			color: $supportColor;
			background-color: $grey;
			@media screen and(max-width: $responsiveBreakPoint){
				height: auto;
			}
			p {
				display: inline-block;
				min-height: $height - 40px;
				margin: 20px;
				//overflow-y: scroll;
				@media screen and(max-width: $responsiveBreakPoint){
					height: auto;
					margin: $defaultPadding $defaultPadding $defaultPadding $defaultPadding;
				}
			}
		}
		.data {
			min-height: $height;
			color: $supportColor;
			background-color: $grey;
			@media screen and(max-width: $responsiveBreakPoint){
				height: auto;
				padding-bottom: $defaultPadding;
			}
			p {
				display: inline-block;
				min-height: $height - 40px;
				margin: 20px;
				//overflow-y: scroll;
			}
			ul {
				padding-left: $defaultPadding;
				padding-top: $defaultPadding;
				@media screen and(max-width: $responsiveBreakPoint){
					padding: auto;
					margin-left: $defaultPadding;
				}
			}
		}
	}
}
