@import './contentContainer.scss';
@import './sidebar.scss';
@import './accountSettings/accountSettings.scss';
@import '../settings.scss';
@import './notifications/notifications.scss';
@import './savedAdvices/savedAdvices.scss';

.row-no-gutter {
	width: 100%;
	margin: 0 !important;
	@media screen and(max-width: $responsiveBreakPoint){
		overflow-x: hidden;
	}
}
