.aquarium-sidebar {
  background-color: #1f344a;
  min-height: calc(100vh - 80px);
  color: #fff; }
  .aquarium-sidebar h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 55px;
    font-size: 40px; }
  .aquarium-sidebar a.first {
    border-top: 1px solid #3b567b; }
  .aquarium-sidebar a {
    color: #fff !important;
    border-bottom: 1px solid #3b567b;
    display: inline-block;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px; }
    .aquarium-sidebar a img {
      width: 24px;
      margin-left: 20px;
      margin-right: 30px; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #1f344a;
  margin-left: 100%;
  top: 36px;
  position: absolute;
  z-index: 1; }
