@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.white {
  color: #FFFFFF; }

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important; }

.btn-outline-primary {
  width: 200px;
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  border-radius: 0px !important; }

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #FFFFFF !important;
  color: #333333 !important;
  cursor: pointer; }

.btn-outline-primary:focus {
  box-shadow: none !important; }

h2 {
  font-size: 40px; }

a:hover {
  text-decoration: none;
  color: #333333 !important; }

.footer {
  padding: 15px 0px;
  text-align: center; }
  .footer a {
    color: #333333; }

nav {
  background-color: #FFFFFF; }
  nav .nav-item {
    padding: 15px; }

.navbar-light .navbar-nav .nav-link {
  color: #333333 !important; }

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  text-decoration: underline; }
