//SETTINGS
$supportColor: #FFFFFF;
$alternativeTextColor: #333333;
$defaultBorderWidth: 2px;
$defaultPadding: 15px;
$mainColor: #1f344a;
$alternativeColor: #3b567b;
$grey: #494949;
$responsiveBreakPoint: 992px;

//ADMIN PANEL
$adminMainBackground: #657D7C;
$adminNavBackground: #464A45;
