@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.white {
  color: #FFFFFF; }

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important;
  padding-top: 80px; }

.btn-outline-primary {
  width: 200px;
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  border-radius: 0px !important; }

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #FFFFFF !important;
  color: #333333 !important;
  cursor: pointer; }

.btn-outline-primary:focus {
  box-shadow: none !important; }

h2 {
  font-size: 40px; }

a:hover {
  text-decoration: none;
  color: #333333 !important; }

.footer {
  padding: 15px 0px;
  text-align: center; }
  .footer a {
    color: #333333; }

nav {
  background-color: #FFFFFF; }
  nav .nav-item {
    padding: 15px; }
  @media screen and (max-width: 768px) {
    nav .navbar-collapse {
      background: #FFFFFF;
      text-align: center; }
    nav .nav-item:hover {
      background: gainsboro;
      text-decoration: none; }
      nav .nav-item:hover a:hover {
        text-decoration: none; }
    nav img.logo {
      margin-top: 15px; }
    nav button.test.navbar-toggler {
      border: none;
      margin-top: 15px; }
    nav button.test.navbar-toggler:focus,
    nav button.test.navbar-toggler:active {
      box-shadow: none;
      outline: none; }
    nav button.test.navbar-toggler:hover {
      cursor: pointer; } }
  nav img.logo {
    max-height: 50px; }
  nav .search-wrap:hover {
    background: none; }

.navbar-light .navbar-nav .nav-link {
  color: #333333 !important; }

.navbar.fixed-top {
  padding-top: 20px; }

@media screen and (min-width: 768px) {
  .navbar-light:hover .navbar-nav:hover .nav-link:hover {
    text-decoration: underline; }
  .navbar.fixed-top {
    height: 80px; } }

@media screen and (max-width: 768px) {
  .navbar.fixed-top {
    top: -20px;
    right: -14px;
    left: -15px; }
  .navbar-brand {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding: 0px 15px 0px 15px; } }

.searchBox-wrapper .search-field {
  border: none !important;
  border-radius: 0px !important; }

.searchBox-wrapper .search-field:active,
.searchBox-wrapper .search-field:focus {
  box-shadow: none !important;
  outline: none !important; }

.searchBox-wrapper .form-control {
  border-bottom: 1px solid #333333 !important; }

.searchBox-wrapper .searchBtn-wrap {
  border-bottom: 1px solid #333333; }
  .searchBox-wrapper .searchBtn-wrap .search-btn {
    background: none !important;
    border: none !important;
    color: #333333 !important; }

.flags {
  padding: 0;
  list-style: none;
  overflow: auto;
  margin-top: 20px;
  display: inline-block; }
  .flags li {
    float: left; }
    .flags li button {
      padding: 0; }
      .flags li button img {
        width: 30px; }
      .flags li button img:hover {
        cursor: pointer; }

.block-wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .block-wrapper .singleBlock {
    position: relative;
    background-size: cover;
    background-position: center right;
    padding: 50px 50px;
    min-height: calc(100vh - 132px); }
    @media screen and (max-width: 768px) {
      .block-wrapper .singleBlock {
        padding: 10vh 20px;
        min-height: auto; } }
    .block-wrapper .singleBlock .singleBlock-content {
      position: absolute;
      top: 50%;
      margin-top: -50px; }
      @media screen and (max-width: 768px) {
        .block-wrapper .singleBlock .singleBlock-content {
          position: relative;
          top: 0;
          margin-top: 0; } }
